* {
    margin: 0;
    padding: 0;
    }
    
    .cabecalho {
    background-color: #614242;
    color: rgb(194, 151, 131);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
    }
    
    .cabecalho-imagem{
    width: 20%;
    }
    
    .cabecalho-lista-item{
    display: inline-block;
    margin: 0 16px;
    font-size: 24px;
    }
    
    .bar-imagem {
    width: 30%;
    }

    .bar {
        background-image: -o-linear-gradient(rgb(186, 119, 115) rgb(101, 68, 67));
        color: #614242;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 24px 0;
    }
